.contactBox {
    margin: 0px 150px 0px 518px;
    padding: 0px 20px;
    text-align: center;
    position: absolute;
    }

.contactBox h1 {
    margin: 0;
    text-align: left;
    font-family: 'Wright', Verdana, Geneva, Tahoma, sans-serif;
    color: #17180f;
    font-size: 15pt;
    font-weight: lighter;
    padding-bottom: 25px;
}

.inline {
    display: inline;
}

.email {
    font-family: 'Wright', Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 10px;
}

.contactBox h2 {
    margin: 0;
    text-align: left;
    color: #17180f;
    font-size: 13pt;
    font-weight: lighter;
}

.atTwo{
    font-family: 'Time', Verdana, Geneva, Tahoma, sans-serif;
}

.contactBox h2 a {
    color: #8a8d73;
    text-decoration: none;
}

.contactBox span {
    color: #8a8d73;
    font-family: 'Wright', Verdana, Geneva, Tahoma, sans-serif;
}

.contactBox form {
    color: #17180f;
    padding-right: 50px;
    position: absolute;
    font-family: 'Wright', Verdana, Geneva, Tahoma, sans-serif;
}