.skillsBox {
    margin: 0px 150px 0px 518px;
    padding: 0px 20px;
    text-align: center;
    position: absolute;
    }

.skillsBox h1 {
    margin: 0;
    text-align: left;
    font-family: 'Wright', Verdana, Geneva, Tahoma, sans-serif;
    color: #17180f;
    font-size: 15pt;
    font-weight: lighter;
}
.skillsBox h2 {
    margin: 0;
    text-align: left;
    font-family: 'Wright', Verdana, Geneva, Tahoma, sans-serif;
    color: #17180f;
    font-size: 14pt;
    font-weight: lighter;
}
.skillsBox h3 {
    margin: 0;
    padding: 40px 0 10px 0;
    text-align: center;
    font-family: 'Wright', Verdana, Geneva, Tahoma, sans-serif;
    color: #17180f;
    font-size: 15pt;
    font-weight: lighter;
}

.skillsBox p {
    margin: 20;
    text-align: center;
    font-family: 'Wright', Verdana, Geneva, Tahoma, sans-serif;
    color: #17180f;
    font-size: 13pt;
    font-weight: lighter;
}

.skillsBox p a {
    color: #8a8d73;
    text-decoration: none;
}

.list {
    display: inline;
}

.dash {
    font-family: 'Time', Verdana, Geneva, Tahoma, sans-serif;
    display: inline;
    padding: 0 20px;
}